body {
    margin: 0;
    display: grid;
    grid-template-areas:
    'header header header header header'
    'main main main main main'
    'footer footer footer footer footer';
    background-color: antiquewhite;
}
header {
    grid-area: header;
    text-align: right;
    
}
header ul li {
    list-style: none;
    display: inline-block;
    border: 3px red solid;
}
header h4 {
    margin: 0 5vh 0 0;
}

.form {
    grid-area: main;
    margin: auto;
    text-align: center;

    
    
    
}
.form .text_f {
    text-align: right;
}
footer {
    grid-area: footer;
}